---
layout: default
---
<div class="container">
  <article class="post">
    <header class="post__header">
      {% assign post_cat = page.categories | first %}
      {% unless post_cat %}{% assign post_cat = page.tags | first %}{% endunless %}
      {% if post_cat %}<div class="post__tag">{{ post_cat }}</div>{% endif %}
      <h1 class="post__title">{{ page.title }}</h1>
      <div class="post__meta">
        {{ page.date | date: "%B %-d, %Y" }}
        {% if page.tags.size > 0 %}
          &nbsp;·&nbsp;
          {% for tag in page.tags %}
            <a class="tag-badge" href="/tags/{{ tag | slugify }}">{{ tag }}</a>
          {% endfor %}
        {% endif %}
      </div>
    </header>
    <div class="post__content">
      {{ content }}
    </div>
  </article>
</div>
